.main-section{
    margin : 0 auto;
    margin-top:30%;
    padding: 0;
}
.modal-content{
    background-color:#72b0dc;
    opacity: .9;
    padding: 0 18px;
    border-radius: 10px;
}
.form-group{
    margin-bottom: 25px;

}
.form-group input{
    height: 42px;
    border-radius: 5px;
    border:0;
    font-size: 13px;
    letter-spacing: 2px;
    padding-left: 54px;
}
i{
    position: absolute;
    margin-top: 3.3%;
    font-size : 120%;
    left:7%
}