<div style="background-color: #72b0dc;">
        <nav class="navbar navbar-dark">
            <a class="navbar-brand" href="/login" style="color:black"><i class="fas fa-arrow-circle-left text-dange"></i> Cerrar Sesión</a>
            <form class="form-inline" style="justify-content:space-around;">
              <span class="navbar-brand" style="color:black"><img class = "img-redonda" [src] = "entidad.foto" width="50" height="50"> {{entidad.nombre}} {{entidad.apellido}}</span>
            </form>
        </nav>
</div>
