<!-- <table class="table" id = "miTabla">
  <thead>
    <tr style = "background-color: #434e5a;color:white">
      <th>Modelo</th>
      <th>Marca</th>
      <th>Año</th>
      <th>Tipo</th>
      <th>KM</th>
      <th>Foto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let item of autos">
        <td *ngIf = "perfil == item.perfil">{{item.modelo}}</td>
        <td *ngIf = "perfil == item.perfil">{{item.marca}}</td>
        <td >{{item.anio}}</td>
        <td>{{item.tipo}}</td>
        <td>{{item.km}}</td>
        <td><img [src] = "auto.foto" width=70 height=70></td>
    </tr>
  </tbody>
</table> -->
