<div class="conatiner">
    <div class="box">
        <h1>Ingreso de autos</h1>
        <form>
          <input type="text" placeholder="Modelo" name = "modelo" [(ngModel)] = "auto.auto.modelo">
          <input type="text" placeholder="Marca" name="marca" [(ngModel)] = "auto.auto.marca">
          <input type="text" placeholder="Color" name="color" [(ngModel)] = "auto.auto.color">
          <input type="text" placeholder="HP" name = "hp" [(ngModel)] = "auto.auto.hp">
          <table>
            <tr>
              <td><input type = "file" value="Subir foto" (change) = "subirArchivo($event)" style="color: #2ecc71;"></td>
              <td *ngIf = "mostrar"><img src="../../../assets/spinner.gif" width="30" height="30" class="spinner"></td>
              <td *ngIf = "exito"><img src="../../../assets/check.png" width="30" height="30"></td>
            </tr>
          </table>
        
          <br><br><br>
       </form>
       <button (click) = "agregarAuto()" class = "box" style="left: 100%;" [disabled] = "bloquear">Agregar</button>
       <button routerLink = "/home" class = "box" style="margin-top:105%;left: 100%;width:100% ;">Cerrar Sesión</button>
    </div>
   <table  id = "miTabla" class = "table" style="background-color: #191919;color:#2ecc71 ;width: 50%;margin-top: 5%;position:absolute;top:23px;left:690px">
        <tr style="background-color: #3498db;color:#191919">
           <td>Modelo</td>
            <td>Marca</td>
            <td>Color</td>
            <td>HP</td>
            <td>FOTO</td>
        </tr>
        <tr *ngFor = "let item of autos">
          <td>{{item.modelo}}</td>
          <td>{{item.marca}}</td>
          <td>{{item.color}}</td>
          <td>{{item.hp}}</td>
          <td><img [src]="item.foto" width="50" height="50"></td>
        </tr>
        <tr class="buttonPDF">
          <td><button (click) = "descargarPDF()">Descargar PDF</button></td>
        </tr>
    </table>
    
</div>