/* You can add global styles to this file, and also import other style files */
body{
    background: url(https://www.diariodepontevedra.es/media/diariodepontevedra/images/2019/05/24/2019052408215272254.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}