.main-section{
    margin : 0 auto;
    margin-top:15%;
    padding: 0;
}
.modal-content{
    background-color:#72b0dc;
    opacity: .9;
    padding: 0 18px;
    border-radius: 10px;
}
.user-img img{
    height: 120px;
    width: 120px;
}
.user-img{
    margin-top:-60px;
    margin-bottom: 45px;
    left: 35%;
}
.form-group{
    margin-bottom: 25px;

}
.form-group input{
    height: 42px;
    border-radius: 5px;
    border:0;
    font-size: 13px;
    letter-spacing: 2px;
    padding-left: 54px;
}
i{
    position: absolute;
    margin-top: 2.3%;
    font-size : 120%;
    left:7%
}
button{
    width: 100%;
    margin:5px 0 45px;
    margin-top: 10%;
    background-color: #2ecc71;
    border-color: #2ecc71;
    color : white;
}
.centrarSpinner{
    margin:auto;
    display:block;
}
span{
    position: absolute;
    margin-top: -6.5%;
    font-size : 120%;
    right:7%;
    color:gainsboro;
}
span:hover{
    color : #2ecc71;
}
button:hover{
    background-color: #5cb85c;
    border-color: #5cb85c;
    color : white;
}
.img-redonda{
    height: 150px;
    width: 150px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    margin:auto;
}
.centrarSpinner{
    margin:10px auto;
    display:block;
    margin-top: 30%;
}