<div style="margin-top: 3%">
  <table>
    <tr>
      <td>Ricardo</td>
      <td>Gonzales</td>
      <td><button routerLink = "/clientes/detalles/1">Mas detalles</button></td>
    </tr>
    <tr>
      <td>María</td>
      <td>Correa</td>
      <td><button routerLink = "/clientes/detalles/2">Mas detalles</button></td>
    </tr>
    <tr>
      <td>Facundo</td>
      <td>Quiroga</td>
      <td><button routerLink = "/clientes/detalles/3">Mas detalles</button></td>
    </tr>
    <tr>
      <td>Laura</td>
      <td>Perez</td>
      <td><button routerLink = "/clientes/detalles/4">Mas detalles</button></td>
    </tr>
  </table>
</div>
<!-- <router-outlet></router-outlet> -->
<!-- Router outlet se va a requerir cuando haga rutas anidadas -->
